body {
    padding-bottom: 195px;
}

.panel {
    box-shadow: none;
}

.panel-block {
    display: flex;
    align-items: center;
    color: #555555;
}

.panel-block.is-active {
    background-color: #efefef;
}

.controls {
    display: flex;
    justify-content: center;
}

.panel-block h4 {
    font-weight: bold;
}

.controls .control {
    margin-right: 1em;
}
.controls .control:last-child {
    margin-right: 0;
}

.current-track-info {
    text-align: center;
    margin-bottom: 1em;
    background-color: #00d1b236;
    color: #333;
    display: inline-block;
    margin: 0 auto;
    padding: .5em 2em;
    border-radius: .5em;
    min-width: 285px;
    margin-bottom: .75em;
}

.current-track-info_title {
    font-weight: bold;
}

.current-track-info_artist {
    color: #333;
}

.current-track-info_timer {
    color: #8b8b8b;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

#track-progress {
    height: 5px;
    background-color: #00d1b2;
    display: block;
    width: 0;
    border-radius: 1em;
}

.bars {
    display: flex;
    margin-right: 1em;
}

.bar {
    width: 3px;
    height: 25px;
    background-color: #00d1b2;
    margin-right: 1px;
    animation: pop 0ms -800ms linear infinite alternate;
}

.bars.paused .bar {
    animation: none;
}

@keyframes pop {
    from {
        opacity: 0.2;
        transform: scaleY(0.1);
    } 
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.bar:nth-child(1)  { animation-duration: 474ms; }
.bar:nth-child(2)  { animation-duration: 433ms; }
.bar:nth-child(3)  { animation-duration: 407ms; }
.bar:nth-child(4)  { animation-duration: 458ms; }
.bar:nth-child(5)  { animation-duration: 400ms; }
.bar:nth-child(6)  { animation-duration: 427ms; }
.bar:nth-child(7)  { animation-duration: 441ms; }
.bar:nth-child(8)  { animation-duration: 419ms; }
.bar:nth-child(9)  { animation-duration: 487ms; }
.bar:nth-child(10) { animation-duration: 442ms; }